* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
body {
	background-color: #c2bac56e;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	margin: 2rem 1rem;
}

.fas {
	margin-left: 0.5rem;
	/* color: red; */
}
.fa-check-square {
	color: blue;
	opacity: 0.2;
	display: none;
}

button {
	border-radius: 8px;
	background-color: #39085a;
	color: white;
}
.create-task-button {
	padding: 0.2rem 0.5rem;
	margin: 0 1rem;
}
.notask {
	display: block;
}

.tasks {
	margin: 1rem;
}
.taskname {
	color: #1f0033;
}

.tasklist {
	margin-top: 0.5rem;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
	gap: 1rem;
}
.task {
	border: solid 2px #1f0033;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	column-gap: 0.6rem;
	padding: 0.4rem 0.9rem;
	position: relative;
}

hr {
	height: 0.4rem;
	color: red;
	background-color: #1f0033;
}
form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	place-content: right;
	row-gap: 0.4rem;
	column-gap: 2rem;
	align-items: center;
}

.formdiv {
	/* display: flex; */
	/* flex-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
	margin: 0 1rem;
	padding: 1rem;
	border-radius: 1rem;
	border: 1px solid #1f0033;
	/* background-color: #c2bac5; */
}

.ex {
	/* position: absolute; */
	color: rgb(175, 66, 66);
	cursor: pointer;
	right: 5%;
	position: absolute;
	z-index: 9;
}

.addbutton {
	padding: 0.1rem 1rem;
}
